.containerd {
  background-image: linear-gradient(
      106deg,
      rgba(#103469, 0.8),
      rgba(#103469, 0.8),
      rgba(#103469, 0.8)
    ),
    url("../../assets/Subtraction\ 1/Subtraction 1.png");
  background-size: 100% 100%;
  background-blend-mode: multiply;
  width: 100%;
  background-attachment: fixed;
  height: 95vh;
  margin: 0 !important;
  position: relative;
  top: 0;
  left: 0;
  .tabs {
    img {
      width: 12rem;
      position: absolute;
      @media (max-width: 900px) {
        width: 10rem;
      }
    }
    .tab1 {
      left: 25%;
      top: 12.5rem;
      @media (max-width: 900px) {
        left: 10%;
      }
    }
    .tab2 {
      left: 27%;
      top: 75%;
      // top: 53.7rem;
      width: 10rem;
      @media (max-width: 900px) {
        top: 60%;
        left: 15%;
      }
    }
    .tab3 {
      // left: 102.6rem;
      left: 67%;
      top: 28%;
      @media (max-width: 992px) {
        left: 75%;
      }
    }
  }
  .text-cont {
    // position: relative;
    .text-inner-cont {
      position: absolute;
      left: 50%;
      top: -13%;
      transform: translate(-50%, 50%);
      @media (max-width: 1225px) {
        top: 8%;
      }
      //   font-weight: ;
    }
  }
  .curve-bg {
    margin-top: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    img {
      max-width: 1226px;
    }

    @media (max-width: 1226px) {
      display: none;
    }
  }
  .arrow-btn {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, 50%);
  }
}
.section1 {
  padding: 15rem 2rem 25rem 2rem;
  position: relative;

  .img-cont {
    width: 100%;
    margin-top: 0;
    .p1 {
      top: -50%;
      position: absolute;
      right: -5%;
      width: 80%;
      // width: 38rem;
      z-index: 300;
    }
    .p2 {
      top: -5%;
      left: 0%;
      z-index: 400;
      width: 80%;
      // width: 33rem;
      position: absolute;
    }
    @media (max-width: 768px) {
      .p1,
      .p2 {
        width: 50%;
        margin-top: 3rem;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 5rem 3rem 40rem 3rem;
  }
}
.section2 {
  background: var(--offWhite1);
  padding: 8rem 20rem 25rem 20rem;

  &-text-cont {
    position: absolute;
    top: 40%;
    z-index: 400;
  }
  .small-box:hover + &-text-cont p {
    color: white !important;
  }
  @media (max-width: 1200px) {
    padding: 5rem;
  }
  @media (max-width: 768px) {
    padding: 10rem 20rem;
    &-text-cont {
      top: 20%;
    }
  }
  @media (max-width: 570px) {
    padding: 10rem;
  }
}

.section3 {
  width: 100%;
  padding: 0rem 0rem 5rem 20rem;
  background: white;
  position: relative;
  .inner-sect3 {
    background: var(--offWhite1);
    padding: 10rem 3rem;
  }

  .desktop-cont {
    //  position: absolute;
    .img1 {
      width: 100%;
    }
  }

  .btn1 {
    margin-left: -250%;
  }

  .btn2 {
    margin-left: 0%;
  }
  @media (max-width: 1300px) {
    .row {
      margin-right: 0;
    }

    padding: 5rem 0rem 5rem 15rem;
  }
  @media (max-width: 992px) {
    padding: 5rem 0rem 5rem 0rem;
    .inner-sect3 {
      padding: 5rem;
    }
    .btn1 {
      margin-left: -50%;
    }
    .btn2 {
      margin-left: 55%;
    }
  }
  @media (max-width: 992px) {
    .btn1,
    .btn2 {
      display: none;
    }
  }
}
.section4 {
  background: var(--mainGreen) 0% 0% no-repeat padding-box;
  padding: 15rem 10rem;
  opacity: 1;
  width: 100%;
  .logo-section {
    img {
      // width: 15rem !important;
      width: 90%;
      @media (max-width: 576px) {
        width: 30%;
      }
    }
  }
  @media (max-width: 576px) {
     padding: 15rem 3rem;
  }
}
.section5 {
  background: var(--offWhite1);
  padding: 20rem 15rem 30rem 15rem;
  @media (max-width: 992px) {
     padding: 15rem 5rem;
  }
}
