@import "./common/mixin.scss";
:root {
  --mainWhite: #fff;
  --offWhite1: #f7f7f7;
  --offWhite15: #f5f5f5;
  --offWhite2: #00000017;
  --offWhite3: #dddddd;
  --offWhite4: #d5d5d5;
  --silverBlue: #8992A3;
  --mainGreen: #3d9b3d;
  --lightGreen: #90be6d;
  --lightGray: #6a6a6a;
  --darkBlue1: #222b45;
  --darkBlue2: #1a1818;
  --darkBlue3: #0c223d;
  --midBlue1: #22549e;
  --midBlue2: #103469;
  --lightBlue: #49abe3;
  --lightOrange: #eb692a;
  --darkOrange: #e1421a;
  --darkGray1: #2e2e2e;
  --darkGray2: #404040;
  
}
$box-shadow: 4px 4px 25px #d5d5d5;

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  //  font-family: 'Open Sans', sans-serif;
  font-family: "Roboto", sans-serif;
  background: white;
}
.lightGreen {
  color: var(--lightGreen);
}
.lightOrange {
  color: var(--lightOrange);
}
.darkOrange {
  color: var(--darkOrange);
}
.lightBlue {
  color: var(--lightBlue);
}
.mainGreen {
  color: var(--mainGreen);
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mt-8 {
  margin-top: 8rem;
}
.mb-12 {
  margin-bottom: 12rem;
}
.curve-bg2 {
  margin-top: -25rem;
  justify-content: center;
  width: 100%;
  display: flex;
}
.rw1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 0px;
  margin-left: 0px;
}
