$mainWhite: #fff;
$offWhite1: #f7f7f7;
$offWhite2: #00000017;
$offWhite3: #dddddd;
$mainGreen: #3d9b3d;
$lightGreen: #90be6d;
$lightGray: #6a6a6a;
$darkBlue1: #222b45;
$darkBlue2: #1a1818;
$darkBlue3: #0c223d;
$midBlue1: #22549e;
$midBlue2: #103469;
$lightBlue: #49abe3;
$lightOrange: #eb692a;
$darkOrange: #e1421a;
$darkGray1: #2e2e2e;
$darkGray2: #404040;
 

:export {
  mainWhite: $mainWhite;
  offWhite1: $offWhite1;
  offWhite2: $offWhite2;
  offWhite3: $offWhite3;
  mainGreen: $mainGreen;
  lightGreen: $lightGreen;
  lightGray: $lightGray;
  darkBlue1: $darkBlue1;
  darkBlue2: $darkBlue2;
  darkBlue3: $darkBlue3;
  midBlue1: $midBlue1;
  midBlue2: $midBlue2;
  lightBlue: $lightBlue;
  lightOrange: $lightOrange;
  darkOrange: $darkOrange;
  darkGray1: $darkGray1;
  darkGray2: $darkGray2;
}
