.page1-section1{
  padding: 15rem 2rem;
   
}

.section2-page1 {
  background: var(--darkGray1);
  padding: 10rem;
  width: 100%;
  .austin {
    img {
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    padding: 5rem;
  }
}
